body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.checkout-form, .summary {
    width: 48%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.checkout-form form {
    display: flex;
    flex-direction: column;
}

.checkout-form label {
    margin-top: 10px;
}

.checkout-form input, .checkout-form select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkout-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.summary {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.summary h2 {
    margin-top: 0;
}

.summary p {
    margin: 10px 0;
}

.summary .cart .item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary .cart .item img {
    margin-right: 15px;
    border-radius: 5px;
}

.summary .cart .item h2 {
    margin: 0;
    font-size: 1.2em;
}

.summary .cart .item p {
    margin: 0 10px;
}

.summary .cart .item button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}